<div class="modal-content">
  <h4>Bienvenido a la Tienda.</h4>
  <!-- <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="name" type="text" class="validate">
          <label for="name">Nombre completo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phonelink_ring</i>
          <input id="phoneNumber" type="tel" class="validate">
          <label for="phoneNumber">Telefono</label>
        </div>
      </div>
      <div class="row center">
        <div class="input-field col s12">
          <div class="switch ">
            <label>
              Soy particular
              <input type="checkbox">
              <span class="lever"></span>
              Soy despacho contable
            </label>
          </div>
        </div>
      </div>
  </form>
  </div> -->
</div>
<div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect blue darken-4 btn">Cerrar</a>
</div>
