<div class="container">
  <div id="apps" class="section scrollspy">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4 center">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">web</i></h2>
          <h5 class="center">Facturación electrónica</h5>
          <p class="light">Conozca sus ganancias y gestione su inventario, comparta su información sin esfuerzo.</p>
          <a href="#modal2" class="btn-floating btn-large waves-effect waves-light indigo"><i class="material-icons">add</i></a>
        </div>
      </div>

      <div class="col s12 m4 center">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">payment</i></h2>
          <h5 class="center">Nómina digital</h5>
          <p class="light">Elabore recibos de nómina sin errores, valida RFC y facilita la declaración anual de tus trabajadores.</p>
          <a href="#modal3" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
        </div>
      </div>

      <div class="col s12 m4 center">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">supervisor_account</i></h2>
          <h5 class="center">Contabilidad electrónica</h5>
          <p class="light">Envía los catálogos de cuentas y balanza de comprobación, genera DIOT, IVA, IEPS e ISR.</p>
          <a href="#modal4" class="btn-floating btn-large waves-effect waves-light cyan"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Tiene un sistema de otra marca, obtenga un 50% al migrar a nuestras Apps.</h5>
        <div class="row center">
          <a href="#modal1" id="download-button" class="btn-large waves-effect waves-light blue darken-4">¡Cambiar ahora!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../images/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div id="packages" class="section scrollspy">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Estos son los paquetes de Timbres.</h4>
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s4"><a href="#test1">200 Timbres</a></li>
            <li class="tab col s4"><a class="active" href="#test2">400 Timbres</a></li>
            <li class="tab col s4"><a href="#test3">1000 Timbres</a></li>
          </ul>
        </div>
        <div id="test1" class="col s12">
          <h1>$400.00</h1>
          <p>Precio por timbre $2.00</p>
        </div>
        <div id="test2" class="col s12">
          <h1>$600.00</h1>
          <p>Precio por timbre $1.50</p>
        </div>
        <div id="test3" class="col s12">
          <h1>$1000.00</h1>
          <p>Precio por timbre $1.00</p>
        </div>
      </div>
    </div>

    <div class="row center">
      <div class="col s12 m4 center">
        <img class="animated slideInUp responsive-img hide-on-med-and-down" src="../images/sat.png">
        <h5>Cumples con el SAT.</h5>
        <p>SIPV cumple al 100% con todas las disposiciones fiscales, para la emisión de CFDi.</p>
      </div>
      <div class="col s12 m4 center">
        <img class="animated slideInUp responsive-img hide-on-med-and-down" src="../images/personalizable.png">
        <h5>Todo es personalizable.</h5>
        <p>Podemos ayudarlo a agregar funciones o presentaciones que otro software no le permitiría.</p>
      </div>
      <div class="col s12 m4 center">
        <img class="animated slideInUp responsive-img hide-on-med-and-down" src="../images/soporte.png">
        <h5>Soporte Premium.</h5>
        <p>Nuestro soporte Premium 24x7x365 con un tiempo de respuesta record, Gratis de por vida.</p>
      </div>
      <h5>Resuelva los problemas más comunes de una manera sencilla y organizada.</h5>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Obtenga 15 timbres gratis al solicitar su servicio.</h5>
        <div class="row center">
          <a href="#modal1" id="download-button" class="btn-large waves-effect waves-light blue darken-4">Envíanos tu solicitud</a>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../images/background3.jpg" alt="Unsplashed background img 3"></div>
</div>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <%- partial('../partials/contact.ejs') %>
  </div>

  <div id="modal2" class="modal">
    <%- partial('../partials/invoice.ejs') %>
  </div>
  <div id="modal3" class="modal">
    <%- partial('../partials/roster.ejs') %>
  </div>
  <div id="modal4" class="modal">
    <%- partial('../partials/accounting.ejs') %>
  </div>
