<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l12 s12 center">
        <a id="logo-container" href="#" class="brand-logo"><img src="../images/logof.png" alt="SIPV"></a>
        <p class="grey-text text-lighten-4"><i class="fa fa-envelope"></i> hola@sipv.site</p>
        <div class="col l12 s12">
          <a class="light-blue-text text-darken-4" href="https://www.facebook.com/sipvmx"><i class="fa fa-facebook fa-2x"></i></a>
          <a class="light-blue-text text-darken-1" href="https://twitter.com/sipvmx"><i class="fa fa-twitter fa-2x"></i></a>
          <a class="amber-text text-darken-3" href="https://www.instagram.com/sipvmx"><i class="fa fa-instagram fa-2x"></i></a>
          <a class="lime-text text-accent-4" href="whatsapp://send?text=http://www.sipv.site/" data-action="share/whatsapp/share"><i class="fa fa-whatsapp fa-2x"></i></a>
        </div>
      </div>
      <div class="col l8 s12">
        <h5 class="white-text">Secciones</h5>
        <ul>
          <li><a href="#apps">Apps con CFDi</a></li>
          <li><a href="#packages">Paquetes de Timbres</a></li>
          <li><a href="#modal1">Comprar Apps y Timbres</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Conecta</h5>
        <ul>
          <li class="white-text"><i class="fa fa-whatsapp lime-text text-accent-4"></i> (55) 7805 2197</p></li>
          <li class="white-text"><i class="fa fa-map-marker amber-text text-darken-3"></i> Fucsia Mz41 Lt16, Paseos de San Juan, Zumpango, Mex.</p></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017, <a class="white-text text-lighten-3" href="#"> Software Integral para Punto de Venta.</a>
      <a class="grey-text text-lighten-4 right modal-trigger" href="#legal">Políticas y Terminos.</a>
    </div>
  </div>
</footer>

<div id="legal" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Politicas y Terminos de Privacidad.</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect blue darken-4 btn">Aceptar</a>
    </div>
</div>
