<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l12 s12 center">
        <a id="logo-container" href="#" class="brand-logo"><img src="../images/logof.png" alt="SIPV"></a>
        <p class="grey-text text-lighten-4"><i class="fa fa-envelope"></i> hola@sipv.site</p>
        <div class="col l12 s12">
          <a class="light-blue-text text-darken-4" href="https://www.facebook.com/sipvfm"><i class="fa fa-facebook fa-2x"></i></a>
          <a class="light-blue-text text-darken-1" href="https://twitter.com/sipvmx"><i class="fa fa-twitter fa-2x"></i></a>
          <a class="amber-text text-darken-3" href="https://www.instagram.com/sipvmx"><i class="fa fa-instagram fa-2x"></i></a>
          <a class="lime-text text-accent-4" href="whatsapp://send?text=http://www.sipv.site/" data-action="share/whatsapp/share"><i class="fa fa-whatsapp fa-2x"></i></a>
        </div>
      </div>
      <div class="col l8 s12">
        <h5 class="white-text">Secciones</h5>
        <ul>
          <li><a href="#apps">Apps con CFDi</a></li>
          <li><a href="#packages">Paquetes de Timbres</a></li>
          <li><a href="#modal1">Comprar Apps y Timbres</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Conecta</h5>
        <ul>
          <li class="white-text"><i class="fa fa-whatsapp lime-text text-accent-4"></i> (55) 7805 2197</p></li>
          <li class="white-text"><i class="fa fa-map-marker amber-text text-darken-3"></i> Fucsia Mz41 Lt16, Paseos de San Juan, Zumpango, Mex.</p></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017, <a class="white-text text-lighten-3" href="#"> Software Integral para Punto de Venta.</a>
      <a class="grey-text text-lighten-4 right modal-trigger" href="#legal">Políticas y Terminos.</a>
    </div>
  </div>
</footer>

<div id="legal" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Politicas y Terminos de Privacidad.</h4>
      <p>Publicación: 13 de enero de 2017</p>
      <p>Gracias por usar SIPV. Aquí describimos la forma en que recopilamos, usamos y procesamos tu información cuando usas nuestros sitios web, software y servicios ("Servicios").</p>
      <h5>Qué recopilamos y por qué lo hacemos</h5>
      <p>Recopilamos y usamos la siguiente información para prestar, mejorar y proteger nuestros Servicios:</p>
      <p><b>Cuenta.</b> Recopilamos cierta la información y la vinculamos a tu cuenta, como tu nombre, dirección de correo electrónico, número de teléfono, información de pago y dirección física. Algunos de nuestros servicios te permiten acceder a tus cuentas y a tu información relacionada con otros proveedores de servicios.</p>
      <p><b>Servicios.</b> Cuando usas nuestros Servicios, almacenamos, procesamos y transmitimos tus archivos (incluidos tus fotos, datos estructurados y correos electrónicos) e información relacionada con ellos (como etiquetas de ubicación en fotos). Si nos concedes acceso a tus contactos, almacenaremos esos contactos en nuestros servidores para que puedas usarlos. De este modo, te será más fácil llevar a cabo ciertas acciones, como compartir tus archivos, enviar mensajes de correo electrónico e invitar a otras personas a usar los Servicios.</p>
      <p><b>Uso.</b> Recopilamos información de los dispositivos que usas para acceder a los Servicios y acerca de ellos. Aquí se incluyen las direcciones IP, el tipo de explorador y dispositivo, la página web que visitaste antes de acceder a nuestros sitios y los identificadores asociados con tus dispositivos. Es posible que tus dispositivos (según la configuración) también transmitan información a los Servicios acerca de tu ubicación.</p>
      <p><b>Cookies y otras tecnologías.</b> Aplicamos ciertas tecnologías, como cookies y etiquetas de píxeles, para prestar, mejorar, proteger y promocionar nuestros Servicios. Por ejemplo, las cookies nos ayudan a recordar tu nombre de usuario para tu próxima visita, a comprender la forma en que interactúas con nuestros Servicios y a mejorar nuestros Servicios en función de esa información. </p>
      <a href="#!" class=" modal-action modal-close waves-effect blue darken-4 btn">Aceptar</a>
    </div>
</div>
