<div class="video-container responsive-video">
  <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<div class="modal-footer center">
  <a href="#!" class=" modal-action modal-close waves-effect blue darken-4 btn">Cerrar</a>
</div>
