<div class="navbar-fixed">
  <nav class="blue darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="../images/logo.png" alt="SIPV"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#apps">Apps con CFDi</a></li>
        <li><a href="#packages">Paquetes de Timbres</a></li>
        <li><a class="waves-effect waves-light blue darken-3 btn" href="#modal1">Solicitar Servicio</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#apps">Apps con CFDi</a></li>
        <li><a href="#packages">Paquetes de Timbres</a></li>
        <li><a href="#modal1" class="waves-effect waves-light blue darken-3 btn">Solicitar Servicio</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large indigo">
      <i class="large material-icons">chat_bubble_outline</i>
    </a>
    <ul>
      <li><a href="whatsapp://send?text=http://www.sipv.site/" data-action="share/whatsapp/share" class="btn-floating lime accent-4"><i class="fa fa-whatsapp"></i></a></li>
      <li><a href="#modal1" class="btn-floating cyan"><i class="material-icons">receipt</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">question_answer</i></a></li>
    </ul>
  </div>
